dl dt,
dl dd {
    margin-bottom: 3px;
}
/* links */
/*
.add-film,
.add-lens {
    position: absolute;
    left: 45%;
}
.add-film {
    top: 22.5%;
}
.add-lens {
    top: 29.5%;
}
*/
.create-link {
    margin-bottom: 10px;
    float: right;
}
/* Home */
#home-container {
    margin: 20px 0 50px 0;
}
.menu-item {
    width: 20%;
    margin-bottom: 10px;
}
.home-sentence {
    margin-top: 40px;
}
/* Photo List */
.filter-list {
    width: 60%;
}
.photo-output {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.photo-container {
    width: 33%;
}
.photo {
    overflow: hidden;
}
.photo {
    width: 99%;
    padding-right: .5%;
    padding-left: .5%;
}
.photo-file {
    width: 100%;
    transition: transform .3s;
}
.photo-file:hover {
    transform: scale(1.2);
}
/* Photo Detail*/
.photo-detail {
    margin-bottom: 15px;
    width: 100%;
}
@media only screen and (max-width:1200px){
    .photo-outside:nth-child(3n+3) {
        padding-right: 1.5%;
    }
    .photo-outside:nth-child(2n+2) {
        padding-right: 0;
    }
}
@media only screen and (max-width:768px) {
    .photo-container {
        width: 50%;
    }
    .filter-list {
        width: 71%;
    }
}
@media only screen and (max-width:426px){
    .menu-item {
        width: 50%;
    }
    .filter-list {
        width: 85%;
    }
    .create-link {
        margin-top: 10px;
        float: none;
    }
    .photo-container {
        width: 100%;
    }
}

