@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" id="home-container">
    <h1 class="home-sentence">Photo Documentation</h1>
    <p class="lead home-sentence">This is an application which a user can store film, lens, and photo information.</p>
    <ul class="nav nav-stacked">
        <li class="menu-item">@Html.ActionLink("Add Photo", "Create", "Photo")</li>
        <li class="menu-item">@Html.ActionLink("See Photos", "List", "Photo")</li>
    </ul>
</div>